# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.class

*.log
.settings
.project
logs
job

templates

# JKS keystore files (contain sensitive keys)
*.jks

# Local development config (may contain secrets)
**/application-local.yml